<form action= "/login" method="POST" >

  <p style="display: inline-block;">
    <lable >Username:</lable>
    <input type = "email"  name="email" placeholder = "email">
    </input>
    <input type = "password" name = "password" placeholder = "password">
  </p>

  <p style="display: inline-block;">
    <input type="submit" value = "login"></input>
  </p>
</form>
